@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=WindSong:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'inter', 'sans verif';

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.spaceBetween {
    justify-content: space-between;
}

.alignCenter {
    align-items: center;
}

.bold {
    font-weight: 600;
}

.bgYellow {
    background-color: #f3c827;
}

.container {
    /* background-color: red; */
    max-width: 1000px;
    width: 100%;
    margin: auto;
    
}

.btn {
    background-color: #f66909;
    border-radius: 4px;
    padding: 10px;
    color: white;
    display: inline-block;
    margin-top: 15px;
    
}

/* HEADER */

header{
    /*background-color:whitesmoke;*/
    padding: 15px;
}

.navHeader {
    /*background-color: aqua;*/
    width: 50%;
}

.panier {
    color: #f3c827;
    font-size: 30px;
}

.chariot {
    color: #f3c827;
    font-size: 15px;
}

/* HERO */
.hero{
    height: 100vh;
}

.hero h2 {
    font-family: "WindSong", cursive;
    font-size: 130px;
    font-weight: 500;
}

h1 {
    font-size: 32px;
}

.engagement {
    width: 45%;
    }

h3{
    width: 100%;
    margin-bottom: 30px;
}

.bienfait {
    width: 25%;
}

.spaceD{
    padding: 40px 50px;

}

.panier1 {
    color: white
    font-size: 16px;
}

.produits {
    background-color: #f3c827;
    
}

.mage {
    width: 100%;
}

.paduit {
    padding: 16px;
}

.boutn {
    justify-content: center;
}

.carte {
    width: 100%;
}